<template>
  <b-container>
    <b-form @submit="findVideo" class="pb-3">
      <VideoSelect
        @onService="setService"
        @onVideo="setVideo"
        :initService="initService"
        :initVideo="initVideo"
      ></VideoSelect>

      <b-button type="submit" variant="primary">Fetch video</b-button>
    </b-form>

    <template v-if="fetched">
      <small v-if="!signedIn">
        The timestamps can be edited after <nuxt-link to='/sign-in'>signing in</nuxt-link>.
      </small>
      <b-card title="Timestamps" class="mb-3">
        <b-card-text>
          <Timestamps
            :timestamps="timestamps"
            type="edit"
            :service="service"
            :videoID="videoID"
            @onSubmit="onEditSubmit">
          </Timestamps>
        </b-card-text>
      </b-card>

      <p class="text-success mt-2">{{ success }}</p>
      <p class="text-danger mt-2">{{ error }}</p>

      <b-button
        class="mb-3"
        v-on:click="getRevisions"
        v-if="video"
      >
        Get revision history
      </b-button>

      <Revisions :revisions="revisions"></Revisions>
    </template>
  </b-container>
</template>

<script>
import axios from 'axios'
import Timestamps from '~/components/Timestamps.vue'
import Revisions from '~/components/Revisions.vue'
import VideoSelect from '~/components/VideoSelect.vue'

export default {
  components: {
    Timestamps,
    Revisions,
    VideoSelect
  },

  data () {
    return {
      service: null,
      videoID: '',
      timestampFields: [
        'time_type',
        {
          key: 'start',
          label: 'Start (seconds)'
        },
        {
          key: 'end',
          label: 'End (seconds)'
        }
      ],
      video: null,
      timestamps: [],
      revisions: [],
      typeCache: {},
      success: '',
      error: '',
      fetched: false,
      // get the video if user came from url
      initRan: false
    }
  },

  computed: {
    signedIn () {
      return this.$store.state.profile.apiKey !== ''
    },
    initService () {
      return this.$route.query.service
    },
    initVideo () {
      return this.$route.query.video
    }
  },

  methods: {
    findVideo (evt) {
      evt.preventDefault()
      this.getVideo()
    },

    getVideo () {
      this.video = null
      this.timestamps = []
      this.revisions = []
      this.success = this.error = ''

      // handy for sharing
      this.$router.replace(`?service=${this.service.index}&video=${this.videoID}`)

      axios.get(`${process.env.API_URL}/videos/`, {
        params: {
          service: this.service.id,
          video_id: this.videoID
        }
      }).then(res => {
        if (res.data.results.length === 0) {
          this.timestamps.push({
            time_type: null,
            start: 0,
            end: 0
          })
        } else {
          // should only ever be one video
          // console.log(JSON.stringify(res.data))
          this.video = res.data.results[0]
          this.timestamps = this.video.timestamps
        }

        // show timestamps/video after fetch is done
        this.fetched = true
      }).catch(console.error)
    },

    setService (value) {
      // console.log('service got', value)
      this.service = value

      // get the video if user came from url
      if (this.initService !== undefined && this.initVideo !== undefined &&
          !this.initRan && this.videoID !== '') {
        this.initRan = true
        this.getVideo()
      }
    },

    setVideo (value) {
      // console.log('video got', value)
      this.videoID = value

      // get the video if user came from url
      if (this.initService !== undefined && this.initVideo !== undefined &&
          !this.initRan && this.service) {
        this.initRan = true
        this.getVideo()
      }
    },

    getRevisions (evt) {
      evt.preventDefault()
      axios.get(`${process.env.API_URL}/timestamp-revisions/`, {
        params: {
          video: this.video.id
        }
      }).then(async res => {
        this.revisions = res.data.results
      }).catch(console.error)
    },

    onEditSubmit (timestamps) {
      this.success = this.error = ''

      if (!this.video) {
        this.addVideo(timestamps)
      } else {
        this.editVideo(timestamps)
      }
    },

    editVideo (timestamps) {
      axios({
        method: 'put',
        url: this.video.url,
        headers: {
          Authorization: `Token ${this.$store.state.profile.apiKey}`
        },
        data: {
          service: this.service.url,
          video_id: this.video.video_id,
          timestamps: timestamps
        }
      }).then(res => {
        this.success = 'Video edited successfully!'
      }).catch(error => {
        if ('non_field_errors' in error.response.data) {
          this.error = error.response.data.non_field_errors
        } else if ('detail' in error.response.data) {
          this.error = error.response.data.detail
        } else {
          this.error = error.response.data
        }
      })
    },

    addVideo (timestamps) {
      axios({
        method: 'post',
        url: `${process.env.API_URL}/videos/`,
        headers: {
          Authorization: `Token ${this.$store.state.profile.apiKey}`
        },
        data: {
          service: this.service.url,
          video_id: this.videoID,
          timestamps: timestamps
        }
      }).then(res => {
        // update the page for further editing (and set success after the reset from getVideo)
        this.getVideo()
        this.success = 'Video added successfully!'
      }).catch(error => {
        if (error.response.status >= 500) {
          this.error = 'Server error. This is being looked into.'
          return
        }

        if ('non_field_errors' in error.response.data) {
          if (error.response.data.non_field_errors[0].search('already exists') !== -1) {
            // don't update the page. allow the user to copy/screenshot their timestamps.
            this.error = 'The video timestamps have changed. Please fetch the video again.'
          } else {
            this.error = error.response.data.non_field_errors
          }
        } else if ('detail' in error.response.data) {
          this.error = error.response.data.detail
        } else {
          this.error = error.response.data
        }
      })
    }
  },

  watch: {
    service () {
      // console.log('service updated')
      this.fetched = false
    },

    videoID () {
      // console.log('video id updated')
      this.fetched = false
    }
  }
}
</script>
