<template>
  <div class="bg-light" style="min-height: 100vh">
    <div>
      <b-navbar toggleable="sm" type="dark" variant="dark" class="mb-3">
        <b-container>
          <b-navbar-brand to="/">VideoSkip</b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item to="/find-video">Find video</b-nav-item>
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
              <b-nav-item v-bind:href="API_URL">API</b-nav-item>
              <b-nav-item href="https://gitlab.com/videoskip/videoskip">
                <fa class="d-none d-sm-inline" :icon="['fab', 'gitlab']"/>
                <span class="d-sm-none">GitLab</span>
              </b-nav-item>

              <b-nav-item disabled class="d-none d-sm-block">|</b-nav-item>

              <template v-if="!signedIn">
                <b-nav-item to="/sign-in">Sign in</b-nav-item>
                <b-nav-item to="/sign-in#register">Register</b-nav-item>
              </template>

              <b-nav-item-dropdown right v-if="signedIn">
                <template slot="button-content">{{ $store.state.profileInfo.username }}</template>
                <b-dropdown-item to="/profile">Profile</b-dropdown-item>
                <b-dropdown-item v-on:click="signOut">Sign out</b-dropdown-item>
              </b-nav-item-dropdown>
            </b-navbar-nav>
          </b-collapse>
        </b-container>
      </b-navbar>
    </div>
    <nuxt />
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      API_URL: process.env.API_URL
    }
  },

  computed: {
    signedIn () {
      return this.$store.state.profile.apiKey !== ''
    }
  },

  methods: {
    signOut (evt) {
      evt.preventDefault()

      axios.post(`${process.env.API_URL}/rest-auth/logout/`, {
        headers: {
          Authorization: `Token ${this.$store.state.profile.apiKey}`
        }
      }).then(res => {
        // ok
      }).catch(error => {
        console.log(error)
      })

      this.$store.commit('profile/set', {
        key: ''
      })
    }
  },

  watch: {
    signedIn (signedIn) {
      if (!signedIn) {
        this.$store.commit('profileInfo/set', {
          username: null,
          id: null,
          is_moderator: false
        })
        return
      }

      axios.get(`${process.env.API_URL}/users/me/`, {
        headers: {
          Authorization: `Token ${this.$store.state.profile.apiKey}`
        }
      }).then(res => {
        this.$store.commit('profileInfo/set', res.data)
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>
