<template>
  <div>
    <p>You can contribute by <nuxt-link to="add-video">submitting</nuxt-link> or <nuxt-link to="find-video">editing</nuxt-link> videos! 😄</p>

    <Revisions :revisions="revisions" showVideo></Revisions>

    <b-card title="Contributed videos" class="mb-3" v-if="videos.length !== 0">
      <p><small>These are the current timestamps of each video. These timestamps may not be the timestamps you submitted.</small></p>

      <div role="tablist">
        <b-card no-body class="mb-1" v-for="video in videos" v-bind:key="video.id">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button block v-b-toggle="`video-${video.id}`" variant="none" class="d-flex justify-content-between">
            <span v-if="typeof video.service !== 'string'">
              {{ video.service.name }}: {{ video.video_id }}
            </span>
            <span v-else>
              {{ video.video_id }}
            </span>
            </b-button>
          </b-card-header>

          <b-collapse
            v-bind:id="`video-${video.id}`"
            v-bind:accordion="`video-${video.id}`"
            role="tabpanel"
          >
            <b-card-body>
              <Timestamps :timestamps="video.timestamps"></Timestamps>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </b-card>

    <b-card v-if="timeTypes.length !== 0" title="Contributed time types" class="mb-3">
      <b-card-text>
        <b-table :items="timeTypes" :fields="timeTypeFields" class="mb-0"></b-table>
      </b-card-text>
    </b-card>

    <b-card v-if="services.length !== 0" title="Contributed services" class="mb-3">
      <b-card-text>
        <b-table :items="services" :fields="serviceFields" class="mb-0"></b-table>
      </b-card-text>
    </b-card>
  </div>
</template>

<script>
import axios from 'axios'
import { cacheAdapterEnhancer, throttleAdapterEnhancer } from 'axios-extensions'
import Revisions from '~/components/Revisions.vue'
import Timestamps from '~/components/Timestamps.vue'

const http = axios.create({
  adapter: throttleAdapterEnhancer(cacheAdapterEnhancer(axios.defaults.adapter))
})

export default {
  components: {
    Revisions,
    Timestamps
  },

  data () {
    return {
      revisions: [],
      videos: [],
      timeTypes: [],
      timeTypeFields: ['name', 'description'],
      services: [],
      serviceFields: ['name', 'description']
    }
  },

  computed: {
    user () {
      return this.$store.state.profileInfo
    }
  },

  mounted () {
    // required when switching tabs and hot reloading
    this.updateContributions()

    this.$store.subscribe(mutation => {
      switch (mutation.type) {
        case 'profileInfo/set': {
          this.updateContributions()
          break
        }
      }
    })
  },

  methods: {
    updateContributions () {
      if (this.user.id === null) {
        return
      }

      axios.get(`${process.env.API_URL}/timestamp-revisions/`, {
        params: {
          user: this.user.id
        }
      }).then(res => {
        // console.log('profile new revisions', JSON.stringify(res.data))
        this.revisions = res.data.results
      }).catch(error => {
        console.log(error)
      })

      axios.get(`${process.env.API_URL}/videos/`, {
        params: {
          user: this.user.id
        }
      }).then(res => {
        // console.log('profile new videos', JSON.stringify(res.data))
        this.videos = res.data.results

        this.videos.forEach((video, i) => {
          http.get(video.service).then(res => {
            this.videos[i].service = res.data
          }).catch(error => {
            console.error(error)
          })
        })
      }).catch(error => {
        console.log(error)
      })

      axios.get(`${process.env.API_URL}/time-types/`, {
        params: {
          user: this.user.id
        }
      }).then(res => {
        // console.log('profile new time types', JSON.stringify(res.data))
        this.timeTypes = res.data
      }).catch(error => {
        console.log(error)
      })

      axios.get(`${process.env.API_URL}/services/`, {
        params: {
          user: this.user.id
        }
      }).then(res => {
        // console.log('profile new services', JSON.stringify(res.data))
        this.services = res.data
      }).catch(error => {
        console.log(error)
      })
    }
  }
}
</script>
