<template>
  <div>
    <b-form-radio-group
      v-model="approved"
      :options="approvedOptions"
      class="mb-3"
    ></b-form-radio-group>

    <b-table :items="requests" :fields="requestFields" responsive>
      <template slot="content_type" slot-scope="row">
        {{ row.item.content_type.model }}
        <template v-if="row.item.object_id">
          of id {{ row.item.object_id }}
        </template>
      </template>

      <template slot="request_type" slot-scope="row">
        <span v-if="row.item.request_type === 1" class="text-success">
          Addition
        </span>
        <span v-else-if="row.item.request_type === 2" class="text-warning">
          Change
        </span>
        <span v-else-if="row.item.request_type === 3" class="text-danger">
          Deletion
        </span>
      </template>

      <template slot="approved" slot-scope="row">
        <span v-if="moderation && row.item.approved_by === null" class="text-warning">
          <b-button variant="success" class="mb-1" v-on:click="approve(row.item.url)">
            Approve
          </b-button>
          <b-button variant="danger" class="mb-1" v-on:click="showDisapprove(row.item.url)">
            Disapprove
          </b-button>
        </span>
        <span v-else-if="row.item.approved_by === null" class="text-warning">
          <span class="mr-1">Awaiting approval</span>
          <b-button variant="danger" class="mt-2" v-on:click="cancel(row.item.url)">
            Cancel
          </b-button>
        </span>
        <span v-else-if="row.item.approved" class="text-success">
          Approved by {{ row.item.approved_by }} on {{ row.item.approved_on }}
        </span>
        <span v-else class="text-danger text-break">
          Disapproved by {{ row.item.approved_by }} on {{ row.item.approved_on }} because:
          <br/>
          {{ row.item.reason }}
        </span>
      </template>

      <template slot="row-details" slot-scope="row">
        <b-card>
          <div class="row">
            <div class="col" v-if="row.item.request_type === 2">
              Current:
              <pre class="text-break pre-wrap text-muted mb-0">{{ row.item.content_object }}</pre>
            </div>
            <div class="col">
              <template v-if="row.item.request_type === 2">
                Updated:
              </template>
              <pre class="text-break pre-wrap mb-0">{{ row.item.request }}</pre>
            </div>
          </div>
        </b-card>
      </template>
    </b-table>

    <b-modal title="Disapprove request" v-model="disapproveShow" @ok="disapproveOk">
      <form ref="disapproveForm" @submit.stop.prevent="disapproveSubmit">
        <b-form-group :state="reasonState" label="Reason for disapproval">
          <b-form-textarea v-model="reason" :state="reasonState" required maxlength=1024></b-form-textarea>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    moderation: {
      type: Boolean
    }
  },

  data () {
    return {
      requests: [],
      approved: null,
      approvedOptions: [
        {
          text: 'Requests awaiting approval', value: null
        },
        {
          text: 'Approved requests', value: true
        },
        {
          text: 'Disapproved requests', value: false
        }
      ],
      requestFields: [
        {
          key: 'content_type',
          label: 'Request for',
          _showDetails: true
        },
        {
          key: 'request_type',
          label: 'Type',
          sortable: true
        },
        {
          key: 'submitted_on',
          sortable: true,
          formatter: this.toPrettyDate
        },
        {
          key: 'approved',
          label: 'Approval'
        }
      ],
      disapproveShow: false,
      disapproveUrl: '',
      reasonState: null,
      reason: ''
    }
  },

  computed: {
    token () {
      return this.$store.state.profile.apiKey
    },
    user () {
      return this.$store.state.profileInfo
    }
  },

  mounted () {
    // required when switching tabs and hot reloading
    this.updateRequests()

    this.$store.subscribe(mutation => {
      switch (mutation.type) {
        case 'profileInfo/set': {
          this.updateRequests()
          break
        }
      }
    })
  },

  methods: {
    updateRequests () {
      // console.log('update', JSON.stringify(this.user))
      if (this.user.id === null) {
        return
      }

      const params = {}

      if (this.approved === null) {
        params['awaiting'] = true
      } else if (this.approved) {
        params['approved'] = true
      } else if (!this.approved) {
        params['approved'] = false
        params['awaiting'] = false
      } else {
        console.error(`Unknown option for approved: ${this.approved}`)
      }

      if (!this.moderation) {
        // filter the moderator's own requests
        params['submitted_by'] = this.user.id
      }

      axios.get(`${process.env.API_URL}/mod-queue/`, {
        params: params,
        headers: {
          Authorization: `Token ${this.token}`
        }
      }).then(res => {
        this.requests = res.data.results

        this.requests.forEach((request, index) => {
          this.requests[index].approved_on = this.toPrettyDate(request.approved_on)
          this.requests[index]._showDetails = true

          if (!request.approved_by) {
            return
          }

          axios.get(request.approved_by).then(res => {
            this.requests[index].approved_by = res.data.username
          }).catch(error => {
            console.log(error)
          })
        })
      }).catch(error => {
        console.log(error)
      })
    },

    toPrettyDate (timestamp) {
      const date = new Date(timestamp)
      return date.toLocaleString()
    },

    showOk (message) {
      this.$bvModal.msgBoxOk(`Request ${message}.`, {
        title: 'Confirmation',
        okVariant: 'success',
        centered: true
      }).catch(error => {
        console.error(error)
      })

      this.updateRequests()
    },

    submitApproval (url, message) {
      axios({
        method: 'post',
        url: url,
        headers: {
          Authorization: `Token ${this.$store.state.profile.apiKey}`
        },
        data: {
          reason: this.reason
        }
      }).then(res => {
        this.showOk(message)
      }).catch(error => {
        this.showError(error)
      })
    },

    approve (url) {
      // in case of a previous disapproval
      this.reason = ''
      this.submitApproval(`${url}approve/`, 'approved')
    },

    showDisapprove (url) {
      this.reason = ''
      this.reasonState = null
      this.disapproveUrl = url
      this.disapproveShow = true
    },

    disapproveOk (event) {
      // don't close modal just yet
      event.preventDefault()
      this.disapproveSubmit()
    },

    checkDisapproveFormValidity () {
      const valid = this.$refs.disapproveForm.checkValidity()
      this.reasonState = valid ? 'valid' : 'invalid'
      return valid
    },

    disapproveSubmit () {
      if (!this.checkDisapproveFormValidity()) {
        return
      }

      // ok close it
      this.disapproveShow = false

      this.submitApproval(`${this.disapproveUrl}disapprove/`, 'disapproved')
    },

    showError (error) {
      console.log(error)

      if (error.response.status >= 500) {
        error.response.data = 'Server error. This is being looked into.'
      }

      this.$bvModal.msgBoxOk(error.response.data, {
        title: 'Error',
        okVariant: 'primary',
        centered: true
      }).catch(error => {
        console.error(error)
      })
    },

    cancel (url) {
      this.$bvModal.msgBoxConfirm('Are you sure that you want to remove your request? The request will be deleted.', {
        title: 'Confirm',
        okVariant: 'danger',
        okTitle: 'Cancel request',
        cancelTitle: 'Keep request',
        hideHeaderClose: false,
        centered: true
      }).then(confirm => {
        if (!confirm) {
          return
        }

        axios({
          method: 'delete',
          url: url,
          headers: {
            Authorization: `Token ${this.$store.state.profile.apiKey}`
          }
        }).then(res => {
          this.showOk('canceled')
        }).catch(error => {
          this.showError(error)
        })
      }).catch(error => {
        console.error(error)
      })
    }
  },

  watch: {
    approved () {
      this.updateRequests()
    }
  }
}
</script>

<style>
.pre-wrap {
  white-space: pre-wrap
}
</style>
