<template>
  <b-card title="Revisions" class="mb-3" v-if="revisions.length != 0">
    <div role="tablist">
      <b-card no-body class="mb-1" v-for="revision in alteredRevisions" v-bind:key="revision.id">
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button block v-b-toggle="`revision-${revision.id}`" variant="none" class="d-flex justify-content-between">
            <span v-if="!revision.next_revision">
              <strong>Revision ID {{ revision.id }} (Current)</strong>
            </span>
            <span v-else>
              Revision ID {{ revision.id }}
            </span>
            <span v-if="typeof revision.video !== 'string'">
              {{ revision.video.service.name }}: {{ revision.video.video_id }}
            </span>
          </b-button>
        </b-card-header>

        <b-collapse
          v-bind:id="`revision-${revision.id}`"
          v-bind:accordion="`revision-${revision.id}`"
          role="tabpanel"
        >
          <b-card-body>
            <Timestamps :timestamps="revision.timestamps"></Timestamps>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
  </b-card>
</template>

<script>
import axios from 'axios'
import { cacheAdapterEnhancer, throttleAdapterEnhancer } from 'axios-extensions'
import Timestamps from '~/components/Timestamps.vue'

const http = axios.create({
  adapter: throttleAdapterEnhancer(cacheAdapterEnhancer(axios.defaults.adapter))
})

export default {
  props: {
    revisions: Array,
    showVideo: Boolean
  },

  components: {
    Timestamps
  },

  data () {
    return {
      video: null,
      alteredRevisions: []
    }
  },

  watch: {
    revisions: {
      immediate: true,
      handler (revisions) {
        // console.log('init revisions2', JSON.stringify(revisions))
        // dont save reference during hot reload
        this.alteredRevisions = JSON.parse(JSON.stringify(revisions))

        if (this.showVideo) {
          this.alteredRevisions.forEach((revision, i) => {
            http.get(revision.video).then(res => {
              revision.video = res.data

              http.get(revision.video.service).then(res => {
                revision.video.service = res.data
                this.alteredRevisions[i] = revision
                // console.log(JSON.stringify(this.alteredRevisions[i]))
              }).catch(error => {
                console.error(error)
              })
            }).catch(error => {
              console.error(error)
            })
          })
        }
      }
    }
  }
}
</script>
