<template>
  <div>
    <div
      class="embed-responsive embed-responsive-16by9"
      v-if="service && videoID ? service.service_id === 'youtube' : false"
    >
      <YouTubePlayer
        class="embed-responsive-item"
        :video-id="videoID"
        @ready="youtubeReady"
      ></YouTubePlayer>
    </div>
    <b-table
      v-if="!editable"
      :items="alteredTimestamps"
      :fields="timestampFields"
      responsive
    >
      <template slot="time_type" slot-scope="row">
        <span v-if="typeof row.item.time_type !== 'string'" :title="row.item.time_type.description">
          {{ row.item.time_type.name }}
        </span>
      </template>
    </b-table>

    <b-table
      v-if="editable"
      :items="alteredTimestamps"
      :fields="timestampFields"
      responsive
    >
      <template slot="time_type" slot-scope="row">
        <b-form-select
          v-model="row.item.time_type.url"
          :options="timeTypes"
          required
        ></b-form-select>
      </template>

      <template slot="start" slot-scope="row">
        <b-input-group>
          <b-form-input
            v-model="row.item.start"
            required
            step="0.01"
            min=0
          ></b-form-input>
          <b-input-group-append
            title="Set time based on current video time"
            v-if="service && videoID && supported_services.indexOf(service.service_id) !== -1"
          >
            <b-button variant="outline-secondary" @click="setTime(row.index, 'start')">
              <fa :icon="['fa', 'stamp']"/>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </template>

      <template slot="end" slot-scope="row">
        <b-input-group>
          <b-form-input
            v-model="row.item.end"
            required
            step="0.01"
            min=0
          ></b-form-input>
          <b-input-group-append
            title="Set time based on current video time"
            v-if="service && videoID && supported_services.indexOf(service.service_id) !== -1"
          >
            <b-button variant="outline-secondary" @click="setTime(row.index, 'end')">
              <fa :icon="['fa', 'stamp']"/>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </template>

      <template slot="remove" slot-scope="row">
        <b-button
          v-show="alteredTimestamps.length !== 1"
          @click="removeTimestamp(row.index)"
          class="btn-danger rounded-circle"
          title="Remove timestamp"
        >
          <fa :icon="['fas', 'times']"/>
        </b-button>
      </template>
    </b-table>

    <div v-if="editable" class="d-flex justify-content-between">
      <b-button v-on:click="addTimestamp" variant="success">Add another timestamp</b-button>
      <b-button v-if="type === 'edit'" variant="primary" v-on:click="submit">Submit video</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { YouTubePlayer } from 'vue-youtube-embed'
import { cacheAdapterEnhancer, throttleAdapterEnhancer } from 'axios-extensions'

const http = axios.create({
  adapter: throttleAdapterEnhancer(cacheAdapterEnhancer(axios.defaults.adapter))
})

export default {
  components: {
    YouTubePlayer
  },

  props: {
    timestamps: {
      type: Array,
      default: () => [{
        time_type: null,
        start: '',
        end: ''
      }]
    },
    type: {
      default: 'read',
      validator (value) {
        return ['read', 'edit'].indexOf(value) !== -1
      }
    },
    service: {
      default: null
    },
    videoID: {
      default: ''
    }
  },

  data () {
    return {
      timestampFields: [
        'time_type',
        {
          key: 'start',
          label: 'Start'
        },
        {
          key: 'end',
          label: 'End'
        },
        {
          key: 'remove',
          label: ''
        }
      ],
      alteredTimestamps: [],
      timeTypes: [],
      player: null,
      supported_services: ['youtube']
    }
  },

  computed: {
    signedIn () {
      return this.$store.state.profile.apiKey !== ''
    },
    editable () {
      return this.type === 'edit' && this.signedIn
    }
  },

  mounted () {
    http.get(`${process.env.API_URL}/time-types/`).then(res => {
      this.timeTypes = res.data.map(timeType => {
        timeType.text = timeType.name
        timeType.value = timeType.url

        return timeType
      })

      this.timeTypes.push({ value: null, text: 'Other', title: 'Other' })
    }).catch(error => {
      console.error(error)
    })
  },

  methods: {
    alterTimestamps () {
      this.alteredTimestamps.forEach((timestamp, i) => {
        // console.log(JSON.stringify(this.timeTypes))

        timestamp.start = this.secondsToMS(timestamp.start)
        timestamp.end = this.secondsToMS(timestamp.end)

        if (!timestamp.time_type) {
          this.alteredTimestamps[i].time_type = {
            name: 'Other',
            title: 'Uncatagorized time type',
            url: null
          }
        } else if (timestamp.time_type in this.timeTypes) {
          this.alteredTimestamps[i].time_type = this.timeTypes[timestamp.time_type]
        } else {
          http.get(timestamp.time_type).then(res => {
            const timeType = res.data
            timeType.text = timeType.name

            this.alteredTimestamps[i].time_type = timeType
          }).catch(error => {
            console.error(error)
          })
        }
      })
    },

    addTimestamp (evt) {
      this.alteredTimestamps.push({
        time_type: {
          name: 'Other',
          title: 'Uncatagorized time type',
          url: null
        },
        start: '00:00',
        end: '00:00'
      })
    },

    removeTimestamp (index) {
      this.alteredTimestamps.splice(index, 1)
    },

    // let parent component handle how it should be submitted
    submit () {
      // put back to representation for API
      const timestamps = JSON.parse(JSON.stringify(this.alteredTimestamps)).map(timestamp => {
        // console.log(JSON.stringify(timestamp))

        timestamp.start = this.msToSeconds(timestamp.start)
        timestamp.end = this.msToSeconds(timestamp.end)

        if (timestamp.time_type.url === null) {
          timestamp.time_type = null
        } else {
          timestamp.time_type = timestamp.time_type.url
        }
        return timestamp
      })
      // console.log(timestamps)
      this.$emit('onSubmit', timestamps)
    },

    secondsToMS (totalSeconds) {
      let minutes = Math.floor(totalSeconds / 60)
      let seconds = Number((totalSeconds - (minutes * 60)).toFixed(3))

      if (minutes < 10) {
        minutes = '0' + minutes
      }

      if (seconds < 10) {
        seconds = '0' + seconds
      }

      return minutes + ':' + seconds
    },

    msToSeconds (hms) {
      const split = hms.split(':')
      // m * 60s
      return (parseFloat(split[0]) * 60) + parseFloat(split[1])
    },

    youtubeReady (event) {
      // console.log(event)
      this.player = event.target
    },

    setTime (index, slot) {
      if (this.service.service_id === 'youtube') {
        var time = this.player.getCurrentTime()
      } else {
        console.error('setTime() service needs to be implemeted.')
        return
      }
      this.alteredTimestamps[index][slot] = this.secondsToMS(time)
    }
  },

  watch: {
    timestamps: {
      immediate: true,
      handler (timestamps) {
        // avoid referencing the timestamps object during hot reload
        this.alteredTimestamps = JSON.parse(JSON.stringify(timestamps))
        this.alterTimestamps()
      }
    }
  }
}
</script>
