<template>
  <div>
    <b-form-group label="Service" label-for="service-input">
      <b-form-select
        id="service-input"
        v-model="service"
        :options="servicesOptions"
        required
      ></b-form-select>
    </b-form-group>

    <b-form-group
      label="Video ID"
      label-for="video-input"
      description="This is the unique id in the video. For example, for YouTube, it'll be the value after the '?v=' key."
    >
      <b-form-input
        id="video-input"
        v-model="video"
        required
        placeholder="Enter video ID"
      ></b-form-input>
    </b-form-group>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  // These are IDs.
  props: ['initService', 'initVideo'],

  data () {
    return {
      service: null,
      video: null,
      services: [],
      servicesOptions: []
    }
  },

  mounted () {
    return axios.get(`${process.env.API_URL}/services/`).then(res => {
      this.services = res.data.map((service, index) => {
        service['index'] = index
        return service
      })
      this.servicesOptions = res.data.map((service, index) => {
        // The url and id need to be used in places, so in order to provide
        // direct array access, although not ideal, the index is used instead
        // of the id for the value.
        // This also means that initService uses the index, not the id.
        return { text: service.name, value: index }
      })
    }).catch(error => {
      console.error(error)
    })
  },

  watch: {
    // after initialization (send service once we get services)
    services (services) {
      if (this.service !== null) {
        this.$emit('onService', services[this.service])
      }
    },

    service (service) {
      // for after initialization (since init sets service, before services exist.)
      if (this.services.length !== 0) {
        this.$emit('onService', this.services[service])
      }
    },

    video (video) {
      this.$emit('onVideo', video)
    },

    // need immediate when parent utilizes computed
    initService: {
      immediate: true,
      handler (service) {
        // console.log('init got service', service)
        if (service !== undefined) {
          this.service = service
        }
      }
    },

    initVideo: {
      immediate: true,
      handler (video) {
        // console.log('init got video', video)
        if (video !== undefined) {
          this.video = video
        }
      }
    }
  }
}
</script>
